<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <encoder>
      <!--      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>-->
      <pattern>
        %d{HH:mm:ss.SSS} %magenta([%thread]) %highlight(%-5level) %cyan(%logger{15}) -%kvp %yellow(%msg) %n
      </pattern>
    </encoder>
  </appender>

  <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
    <file>${java.io.tmpdir}/visual.model.log</file>
    <encoder>
      <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
    </encoder>
    <rollingPolicy class="ch.qos.logback.core.rolling.SizeAndTimeBasedRollingPolicy">
      <fileNamePattern>${java.io.tmpdir}/visual.model.%d{yyyy-MM-dd}.%i.log.gz</fileNamePattern>
      <maxFileSize>5MB</maxFileSize>
      <maxHistory>7</maxHistory>
      <totalSizeCap>10GB</totalSizeCap>
    </rollingPolicy>
  </appender>

  <!-- 异步打印 -->
  <appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
    <appender-ref ref="CONSOLE"/>
    <appender-ref ref="FILE"/>
  </appender>

  <root level="info">
    <appender-ref ref="ASYNC"/>
  </root>

  <logger name="org.visual.app" level="DEBUG"/>
  <logger name="io.avaje.inject" level="TRACE"/>
  <logger name="io.ebean.SQL" level="TRACE"/>

  <logger name="io.ebean.TXN" level="TRACE"/>
  <logger name="io.ebean.DDL" level="TRACE"/>
  <logger name="org.github.gestalt.config" level="TRACE"/>
  <logger name="io.vertx" level="DEBUG"/>
  <logger name="io.vertx.core" level="DEBUG"/>
  <logger name="io.vertx.ext" level="DEBUG"/>
</configuration>